.main {
    background-color: #fcf8f8;
    box-shadow: 1px 1px 1px #d6d4e0;
    width: 400px;
    margin: auto;
    border: 2px solid rgb(219, 214, 214);
}

.border img {
    overflow: hidden;
}

.style {
    padding-left: 15px;
    font-size: 20px;
    font-family: sans-serif;
}

#star {
    padding-left: 15px;
}

#star span {
    padding-left: 5px;
    font-size: 12px;
    color: #b2b2b2;
}

.style-2 {
    padding-left: 15px;
    font-size: 16px;
    color: #9fa9a3;
}

.style-3 {
    font-size: 15px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

#color {
    height: 2px;
    width: 400px;
    background-color: #e3e0cc;
}

.style-4 {
    font-size: 15px;
    padding-left: 15px;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.container-1 {
    border: none;
    border-radius: 18px;
    width: 80px;
    height: 33px;
}

.flex-container>div {
    background-color: #c0ded9;
    margin: 10px;
    text-align: center;
}

#par {
    font-size: 12px;
}

.container-1 #par {
    padding-bottom: 18px;
}

.click {
    color: blueviolet;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
    border: none;
}